/* Clone Buttons */
.dcm-clone-button, .dcm-clone-menu {
	margin: 10px;
	overflow: hidden;
}
.dcm-clone-menu a.page-title-action {
	cursor: pointer;
	float: right;
	margin: 0 10px;
	top: 0;
}
.dcm-remove-button {
	color: #a00 !important;
	display: none;
	font-size: 0.8em;
	margin: 1px 0 0 0;
	position: absolute;
	right: 0;
	top: 0;
}
.fieldset-just-added .block-name-handle {
	color: #0093d0;
}
.fieldset-just-added .block-name-handle span {
	font-weight: bold;
}


.poc-fieldset-block {
	border: 1px solid #dfdfdf;
	margin-bottom: 10px;
	overflow: hidden;
	padding: 10px;
	position: relative;
}
.poc-fieldset-block-dummy {
	display: none;
	background-color: green;
}

.poc-input-full-field {
	width: 99%;
}
.poc-fieldset-block table {
	width: 100%;
}
.poc-fieldset-block table td {
	width: 65%;
}
.poc-fieldset-block table td.label-td {
	width: 30%;
}

/* Image Form Element */
.meta-image-selector {
	min-height: 50px;
	position: relative;
}
.meta-image-selector .meta-image-preview {
	height:auto;
	margin-left: 30px;
	max-height:100%;
	max-width:100%;
	min-width:100px;
	width:auto;
}
.meta-image-selector .meta-image-add-button,
.meta-image-selector .meta-image-delete-button {
	height: 20px;
	overflow: hidden;
	position: absolute;
	left: 0;
	text-indent: -500px;
	top: 0;
	width: 20px;
	z-index: 10;
}
.meta-image-selector .meta-image-delete-button {
	top: 25px;
}
.meta-image-selector .meta-image-add-button:before,
.meta-image-selector .meta-image-delete-button:before {
	background-color: white;
	color: black;
	content: "\f03e";
	font: normal normal 15px/20px FontAwesome;
	position: absolute;
	right: 0;
	text-align: center;
	text-indent: 0;
	width: 100%;
}
.meta-image-selector .meta-image-delete-button:before {
	content: "\f014";
	color: red;
}

/* Sortable Blocks */
.poc-sortable-blocks {
	list-style-type: none; 
	margin: 0; 
	padding: 0;
}
.poc-sortable-blocks li {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
}
.poc-draggable-placeholder {
	background-color: none !important;
	border: 1px dashed grey !important;
	display: block;
	height: 50px;
	width: 100%;
}
/* Sortable Image Blocks */
.poc-sortable-image-blocks {
	list-style-type: none; 
	margin: 0; 
	padding: 0;
}
tr.sortable-image {
	background: none;
	border: 4px solid grey;
	display: block;
	margin: 5px;
	padding: 0;
}
tr.poc-draggable-placeholder {
	background-color: none !important;
	border: 1px dashed grey !important;
	display: block;
	height: 50px;
	width: 100%;
}
.poc-fieldset-block.collapsible {
	position: relative;
}
